#IDE
/.vscode/
/.idea/

/.git/
/node_modules/
/npm-debug.log
/.env*
/.gitignore
/.gitlab-ci.yml
/.gitleaksignore
/.pre-commit-ci.yaml
/.pre-commit-config.yaml
/.prettierrc
/.prettierrc.json
/eslint.config.js
/LICENSE
/README.md
/yarn.lock
